***Connect to the database***

In [5]:
import sqlite3
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

***Create a cursor object***

In [8]:
curs = conn.cursor()

## Query execution
***Q10***: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [29]:
sql_query10 = "SELECT  f.name,SUM(CASE WHEN b.memid = 0 THEN f.guestcost * b.slots \
           		 ELSE f.membercost * b.slots END) AS 'Total Revenue'	\
FROM Bookings AS b \
INNER JOIN Facilities AS f \
ON b.facid = f.facid \
GROUP BY b.facid \
Having SUM(CASE WHEN b.memid = 0 THEN f.guestcost * b.slots \
           		 ELSE f.membercost * b.slots END) < 1000 \
ORDER BY 'Total Revenue'" 

rs10 = curs.execute(sql_query10).fetchall()
for r in rs10:
    print(r)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

***Q11***: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [41]:
sql_query11 = "SELECT mem.memid,mem.surname,mem.firstname, (rec.surname||' '||rec.firstname) AS 'Recommended by' \
FROM Members as mem \
LEFT JOIN Members AS rec \
ON mem.recommendedby = rec.memid \
ORDER BY  mem.surname,mem.firstname;" 

rs11 = curs.execute(sql_query11).fetchall()
for r in rs11:
    print(r)

(15, 'Bader', 'Florence', 'Stibbons Ponder')
(12, 'Baker', 'Anne', 'Stibbons Ponder')
(16, 'Baker', 'Timothy', 'Farrell Jemima')
(8, 'Boothe', 'Tim', 'Rownam Tim')
(5, 'Butters', 'Gerald', 'Smith Darren')
(22, 'Coplin', 'Joan', 'Baker Timothy')
(36, 'Crumpet', 'Erica', 'Smith Tracy')
(7, 'Dare', 'Nancy', 'Joplette Janice')
(28, 'Farrell', 'David', None)
(13, 'Farrell', 'Jemima', None)
(0, 'GUEST', 'GUEST', None)
(20, 'Genting', 'Matthew', 'Butters Gerald')
(35, 'Hunt', 'John', 'Purview Millicent')
(11, 'Jones', 'David', 'Joplette Janice')
(26, 'Jones', 'Douglas', 'Jones David')
(4, 'Joplette', 'Janice', 'Smith Darren')
(21, 'Mackenzie', 'Anna', 'Smith Darren')
(10, 'Owen', 'Charles', 'Smith Darren')
(17, 'Pinker', 'David', 'Farrell Jemima')
(30, 'Purview', 'Millicent', 'Smith Tracy')
(3, 'Rownam', 'Tim', None)
(27, 'Rumney', 'Henrietta', 'Genting Matthew')
(24, 'Sarwin', 'Ramnaresh', 'Bader Florence')
(1, 'Smith', 'Darren', None)
(37, 'Smith', 'Darren', None)
(14, 'Smith', 'Jack', 'Smith Darren')
(2, 'Smith', 'Tracy', None)
(9, 'Stibbons', 'Ponder', 'Tracy Burton')
(6, 'Tracy', 'Burton', None)
(33, 'Tupperware', 'Hyacinth', None)
(29, 'Worthington-Smyth', 'Henry', 'Smith Tracy')

***Q12***: Find the facilities with their usage by member, but not guests

In [45]:
sql_query12 = "SELECT f.name,count(*) AS times_used \
FROM Facilities as f \
LEFT JOIN Bookings as b \
ON f.facid = b.facid \
WHERE b.memid <> 0 \
GROUP BY b.facid;" 

rs12 = curs.execute(sql_query12).fetchall()
for r in rs12:
    print(r)

('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)

***Q13***: Find the facilities usage by month, but not guests

In [49]:
sql_query13 = "SELECT f.name,strftime('%m', b.starttime) AS month,count(*) AS times_used \
FROM Facilities as f \
LEFT JOIN Bookings as b \
ON f.facid = b.facid \
WHERE b.memid <> 0 \
GROUP BY b.facid, month;" 

rs13 = curs.execute(sql_query13).fetchall()
for r in rs13:
    print(r)

('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)